.container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 229, 195);
}
.gmbr{
    width: 300px;
    margin: 15px 10px;
    border-radius: 4px;
    border-style: solid;
}